<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Главная</a></li>
    {% for m in menu %}
        {% if not forloop.last %}
            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
        {% else %}
            <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h1>{{ title }}</h1>
<ul>
    {% for p in data_db %}
    {% if p.is_published %}
    <li>
        <h2>{{ p.title }}</h2>
        <p>{{ p.content }} </p>
        <p> <a href="{% url 'post' p.id %}">Далее</a> </p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>
